.delivery {
  margin-top: 35px;
}

.delivery p {
  font-family: inherit;
  font-size: 17px;
  line-height: 23px;
  font-weight: 300;
  letter-spacing: -0.3px;
  margin: 0;
}

.delivery span {
  font-weight: 700;
}

.delivery a {
  font-size: 17px;
}
